<!-- toast-update-ready component - START - -->
<h3 class='message-text text-center'>
    {{message}}
</h3>
<button class="btn btn-functionality dfjkghdfjkh" {{action 'dismiss'}}>
    {{t 'btns.dismiss'}}
</button>
<button class="btn btn-functionality" {{action 'reload'}}>
    {{t 'btns.reload'}}
</button>
<!-- toast-update-ready component - END - -->
