<div class="page mood-history-page">
    <h2 class="page-section-title">
        {{t 'moodHistory.title'}}
    </h2>
    {{#each moods as |mood|}}
        <div class="col-xs-4 col-sm-4 col-md-4 no-padding-left-right">
            <input type="checkbox" id="{{mood.emotion}}" class="mood-emotion-checkbox"
                name={{mood.emotion}} value={{mood.emotion}} aria-label={{mood.emotion}}>
            <label for="{{mood.emotion}}" class="mood-checkbox-label {{mood.emotion}}">
            </label>
            <label for="{{mood.emotion}}" class="mood-checkbox-label-presentation">
                {{t (concat 'emotions.' mood.low)}}-{{t (concat 'emotions.' mood.high)}}
            </label>
        </div>
    {{/each}}
    {{#each model.moodList as |mood|}}
        {{mood-entry
            class='col-xs-12 col-sm-12 col-md-12'
            mood=mood}}
    {{/each}}
    <div class="btn-holder col-xs-12 col-sm-12 col-md-12 text-center">
        {{#link-to 'my-starling' type='button' class='btn btn-discouraged'}}
            {{t 'btns.back'}}
        {{/link-to}}
        {{#link-to 'moods.add' type='button' class='btn'}}
            {{t 'btns.track'}}
        {{/link-to}}
    </div>
</div>
