<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header {{if (is-equal i18n.locale 'fr') 'header-fr'}}">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#userLoggedIn-nav" aria-expanded="false">
            <span class="sr-only">{{t 'appHeader.toggleNav'}}</span>
            {{inline-svg 'icon-menu-mobile' class='icon-sandwich'}}
        </button>
        {{#link-to 'moods' class='starling-logo-link'}}
            {{inline-svg imgSource class='starling-logo'}}
        {{/link-to}}
    </div>
    <div id="userLoggedIn-nav" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right primary
            {{if (is-equal i18n.locale 'fr') 'navbar-nav-fr'}}">
            <li class="navbar-item">
                {{#link-to 'moods.add' class='navbar-link'}}
                    {{t 'appHeader.moodTracker'}}
                {{/link-to}}
            </li>
            <li class="navbar-item">
                {{#link-to 'moods.list' class='navbar-link'}}
                    {{t 'appHeader.moodHistory'}}
                {{/link-to}}
            </li>
            <li class="dropdown">
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="userName">{{headerFirstName}}</span>
                        {{inline-svg 'icon-caret' class='icon-caret'}}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-menu-item">
                            <span class="starling-id-title">{{t 'appHeader.starlingID'}}</span>
                            <span class="starlingId">{{t 'appHeader.member'}}&nbsp;{{nickname}}</span>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-menu-item">
                            <button type="button" class="menu-item-btn lang-change"
                                {{action 'switchLanguage'}}>
                                {{languageLink}}
                            </button>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-menu-item">
                            <button type="button" class="menu-item-btn"
                                {{action 'logout'}}>
                                {{t 'appHeader.logout'}}
                            </button>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
