<ul class="navbar-drawer-list {{if (is-equal i18n.locale 'fr') 'fr'}}">
    <h3 class="userName">
        {{userFirstName}}
    </h3>
    <li class="navbar-drawer-item">
        {{#link-to 'moods.add' class='navbar-link'}}
            {{t 'routes.moodTracker'}}
        {{/link-to}}
    </li>
    <li class="navbar-drawer-item">
        {{#link-to 'moods.list' class='navbar-link'}}
            {{t 'routes.moodHistory'}}
        {{/link-to}}
    </li>
    <li role="separator" class="navbar-drawer-item divider"></li>
    <li class="navbar-drawer-item">
        <button type="button" class="navbar-btn"
            disabled={{isSyncDisabled}} {{action 'sync'}}>
            {{#if isSyncing}}
                {{t 'dataSync.savingData'}}
            {{else}}
                {{t 'dataSync.sync'}}
            {{/if}}
        </button>
    </li>
    <li class="navbar-drawer-item">
        <button type="button" class="navbar-btn" {{action 'switchLanguage'}}>
            {{languageLink}}
        </button>
    </li>
    <li class="navbar-drawer-item">
        <button type="button" class="navbar-btn" {{action 'logout'}}>
            {{#if isSaving}}
                {{t 'dataSync.savingData'}}
            {{else}}
                {{t 'drawerMenu.logout'}}
            {{/if}}
        </button>
    </li>
</ul>
