<input type="checkbox" id="drawer-toggle" name="drawer-toggle">
<label for="drawer-toggle" class="drawer-toggle-label">
    <span class="sr-only">{{t 'appHeader.toggleNav'}}</span>
    {{inline-svg 'icon-menu-mobile' class='icon-sandwich'}}
</label>
{{app-header
    imgSource='logo'}}
{{drawer-menu
    firstName=model.user.firstName
    switchLanguage=(route-action 'switchLanguage')
    logout=(route-action 'doLogout')}}
<div class="page-content">
    {{outlet}}
    {{toast-update-ready
        message='New version available'}}
</div>
